<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Persona</title>
</head>
<body>
  <h1>Ver Persona</h1>
  <div>Id Persona: {{persona.id}}</div>
  <div>Nombre Persona: {{persona.nombre}}</div>
  <div>Apellido Persona: {{persona.apellido}}</div>
  <div>Email Persona: {{persona.email}}</div>
  <br/>
  <a href="{{url_for('inicio')}}">Inicio</a>
</body>
</html>