<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Sistema de Administración de Personas (SAP)</h1>
    <div>
        Total de personas: {{total_personas}}
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas_key %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.email}}</td>
<!--                    <td><a href="ver/{{persona.id}}">Ver</a></td>-->
                    <td><a href="{{url_for('ver_persona', id=persona.id)}}">Ver</a></td>
                    <td><a href="{{url_for('editar_persona', id=persona.id)}}">Editar</a></td>
                    <td><a href="{{url_for('eliminar_persona', id=persona.id)}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{{url_for('agregar')}}">Agregar Persona</a>
        </div>
    </div>
</body>
</html>